# Local authority value added measure

In [1]:
path = 'data/df_weight_reduced_local_authorities.csv'
import pandas as pd
df = pd.read_csv(path)

In [2]:
df.head(3)

,Unnamed: 0,code,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,E06000047,County Durham,County or Unitary Authority,Gross value added per hour worked,"Boosting productivity, pay, jobs and living st...",2020,Pounds,£,30.50,-0.614333
1,2,E06000005,Darlington,County or Unitary Authority,Gross value added per hour worked,"Boosting productivity, pay, jobs and living st...",2020,Pounds,£,31.87,-0.364590
2,3,E06000001,Hartlepool,County or Unitary Authority,Gross value added per hour worked,"Boosting productivity, pay, jobs and living st...",2020,Pounds,£,31.85,-0.368235

In [7]:
cols_Reduced = ['code','Unnamed: 1', 'Unnamed: 3', 'Unnamed: 8']
df_reduced = df[cols_Reduced]
df_reduced.head(2)

        code     Unnamed: 1                         Unnamed: 3  Unnamed: 8
0  E06000047  County Durham  Gross value added per hour worked       30.50
1  E06000005     Darlington  Gross value added per hour worked       31.87

In [8]:
Y_value = 'Gross value added per hour worked'

df_Y = df_reduced[df_reduced['Unnamed: 3']==Y_value]
print(len(df_Y))
df_Y.head(2)

346

        code     Unnamed: 1                         Unnamed: 3  Unnamed: 8
0  E06000047  County Durham  Gross value added per hour worked       30.50
1  E06000005     Darlington  Gross value added per hour worked       31.87

In [36]:
#tranpose version ready to feature engineer
df_Y_T = df_Y.set_index(['code','Unnamed: 1','Unnamed: 3']).unstack()

df_Y_T.head(2)

                                               Unnamed: 8
Unnamed: 3              Gross value added per hour worked
code      Unnamed: 1
E06000001 Hartlepool                                31.85
E06000002 Middlesbrough                             30.96

In [9]:
df_X = df_reduced[df_reduced['Unnamed: 3']!=Y_value]
print(len(df_X))
df_X.head(2)

9849

          code     Unnamed: 1               Unnamed: 3  Unnamed: 8
346  E06000047  County Durham  Gross median weekly pay       489.2
347  E06000005     Darlington  Gross median weekly pay       482.2

In [35]:
df_X_T = df_X.set_index(['code','Unnamed: 1','Unnamed: 3']).unstack()

df_X_T.head(2)

                         Unnamed: 8
Unnamed: 3              4G coverage Additions to the housing stock
code      Unnamed: 1
E06000001 Hartlepool          99.97                            8.0  \
E06000002 Middlesbrough      100.00                            9.0


Unnamed: 3              Aged 16 to 64 years level 3 or above qualifications
code      Unnamed: 1
E06000001 Hartlepool                                                  56.4   \
E06000002 Middlesbrough                                               48.7


Unnamed: 3              Aged 19 years and over further education and skills learner achievements
code      Unnamed: 1
E06000001 Hartlepool                                                2910.0                        \
E06000002 Middlesbrough                                             4690.0


Unnamed: 3              Aged 19 years and over further education and skills participation
code      Unnamed: 1
E06000001 Hartlepool                                                8888.0                 \
E06000002 Middlesbrough                                             9470.0


Unnamed: 3              Anxiety Apprenticeships achievements
code      Unnamed: 1
E06000001 Hartlepool       3.30                        456.0  \
E06000002 Middlesbrough    3.02                        446.0


Unnamed: 3              Apprenticeships starts
code      Unnamed: 1
E06000001 Hartlepool                    1280.0  \
E06000002 Middlesbrough                 1136.0


Unnamed: 3              Cancer diagnosis at stage 1 and 2
code      Unnamed: 1
E06000001 Hartlepool                             48.21853  \
E06000002 Middlesbrough                          55.17891


Unnamed: 3              Cardiovascular mortality considered preventable in persons aged under 75
code      Unnamed: 1
E06000001 Hartlepool                                             40.050966                        \
E06000002 Middlesbrough                                          42.261244

                         ...
Unnamed: 3               ... Male healthy life expectancy
code      Unnamed: 1     ...
E06000001 Hartlepool     ...                        57.58  \
E06000002 Middlesbrough  ...                        58.83


Unnamed: 3              Overweight adults (aged 18 years and over)
code      Unnamed: 1
E06000001 Hartlepool                                     74.576608  \
E06000002 Middlesbrough                                  70.764041


Unnamed: 3              Overweight children at Year 6 age (aged 10 to 11 years)
code      Unnamed: 1
E06000001 Hartlepool                                              43.18182       \
E06000002 Middlesbrough                                           44.89796


Unnamed: 3              Overweight children at reception age (aged four to five years)
code      Unnamed: 1
E06000001 Hartlepool                                              27.74869              \
E06000002 Middlesbrough                                           26.95418


Unnamed: 3              Persistent absences for all pupils
code      Unnamed: 1
E06000001 Hartlepool                              16.33809  \
E06000002 Middlesbrough                           16.67140


Unnamed: 3              Persistent absences for pupils eligible for free school meals
code      Unnamed: 1
E06000001 Hartlepool                                              26.52582             \
E06000002 Middlesbrough                                           23.86576


Unnamed: 3              Persistent absences for pupils looked after by local authorities
code      Unnamed: 1
E06000001 Hartlepool                                                  30.6                \
E06000002 Middlesbrough                                               30.2


Unnamed: 3              Public transport or walk to employment centre with 500 to 4999 jobs
code      Unnamed: 1
E06000001 Hartlepool                                             12.900208                   \
E06000002 Middlesbrough                                          15.372879


Unnamed: 3              Pupils at expected standards by end of primary school
code      Unnamed: 1
E06000001 Hartlepool                                                  63.0     \
E06000002 Middlesbrough                                               58.0


Unnamed: 3              Schools and nursery schools rated good or outstanding
code      Unnamed: 1
E06000001 Hartlepool                                             89.473684
E06000002 Middlesbrough                                          90.909091

[2 rows x 35 columns]

 ### Need to try merging the two data set

In [40]:
combined_T = df_Y_T.merge(df_X_T, left_index = True, right_index = True, how = 'inner')

combined_T.head(2)

                                               Unnamed: 8
Unnamed: 3              Gross value added per hour worked 4G coverage
code      Unnamed: 1
E06000001 Hartlepool                                31.85       99.97  \
E06000002 Middlesbrough                             30.96      100.00


Unnamed: 3              Additions to the housing stock
code      Unnamed: 1
E06000001 Hartlepool                               8.0  \
E06000002 Middlesbrough                            9.0


Unnamed: 3              Aged 16 to 64 years level 3 or above qualifications
code      Unnamed: 1
E06000001 Hartlepool                                                  56.4   \
E06000002 Middlesbrough                                               48.7


Unnamed: 3              Aged 19 years and over further education and skills learner achievements
code      Unnamed: 1
E06000001 Hartlepool                                                2910.0                        \
E06000002 Middlesbrough                                             4690.0


Unnamed: 3              Aged 19 years and over further education and skills participation
code      Unnamed: 1
E06000001 Hartlepool                                                8888.0                 \
E06000002 Middlesbrough                                             9470.0


Unnamed: 3              Anxiety Apprenticeships achievements
code      Unnamed: 1
E06000001 Hartlepool       3.30                        456.0  \
E06000002 Middlesbrough    3.02                        446.0


Unnamed: 3              Apprenticeships starts
code      Unnamed: 1
E06000001 Hartlepool                    1280.0  \
E06000002 Middlesbrough                 1136.0

                                                           ...
Unnamed: 3              Cancer diagnosis at stage 1 and 2  ...
code      Unnamed: 1                                       ...
E06000001 Hartlepool                             48.21853  ...  \
E06000002 Middlesbrough                          55.17891  ...


Unnamed: 3              Male healthy life expectancy
code      Unnamed: 1
E06000001 Hartlepool                           57.58  \
E06000002 Middlesbrough                        58.83


Unnamed: 3              Overweight adults (aged 18 years and over)
code      Unnamed: 1
E06000001 Hartlepool                                     74.576608  \
E06000002 Middlesbrough                                  70.764041


Unnamed: 3              Overweight children at Year 6 age (aged 10 to 11 years)
code      Unnamed: 1
E06000001 Hartlepool                                              43.18182       \
E06000002 Middlesbrough                                           44.89796


Unnamed: 3              Overweight children at reception age (aged four to five years)
code      Unnamed: 1
E06000001 Hartlepool                                              27.74869              \
E06000002 Middlesbrough                                           26.95418


Unnamed: 3              Persistent absences for all pupils
code      Unnamed: 1
E06000001 Hartlepool                              16.33809  \
E06000002 Middlesbrough                           16.67140


Unnamed: 3              Persistent absences for pupils eligible for free school meals
code      Unnamed: 1
E06000001 Hartlepool                                              26.52582             \
E06000002 Middlesbrough                                           23.86576


Unnamed: 3              Persistent absences for pupils looked after by local authorities
code      Unnamed: 1
E06000001 Hartlepool                                                  30.6                \
E06000002 Middlesbrough                                               30.2


Unnamed: 3              Public transport or walk to employment centre with 500 to 4999 jobs
code      Unnamed: 1
E06000001 Hartlepool                                             12.900208                   \
E06000002 Middlesbrough                                          15.372879


Unnamed: 3              Pupils at expected standards by end of primary school
code      Unnamed: 1
E06000001 Hartlepool                                                  63.0     \
E06000002 Middlesbrough                                               58.0


Unnamed: 3              Schools and nursery schools rated good or outstanding
code      Unnamed: 1
E06000001 Hartlepool                                             89.473684
E06000002 Middlesbrough                                          90.909091

[2 rows x 36 columns]

In [61]:
# fill na values with mean
combined_T_filled = combined_T.fillna(combined_T.mean())

combined_T_filled.head(2)

                                               Unnamed: 8
Unnamed: 3              Gross value added per hour worked 4G coverage
code      Unnamed: 1
E06000001 Hartlepool                                31.85       99.97  \
E06000002 Middlesbrough                             30.96      100.00


Unnamed: 3              Additions to the housing stock
code      Unnamed: 1
E06000001 Hartlepool                               8.0  \
E06000002 Middlesbrough                            9.0


Unnamed: 3              Aged 16 to 64 years level 3 or above qualifications
code      Unnamed: 1
E06000001 Hartlepool                                                  56.4   \
E06000002 Middlesbrough                                               48.7


Unnamed: 3              Aged 19 years and over further education and skills learner achievements
code      Unnamed: 1
E06000001 Hartlepool                                                2910.0                        \
E06000002 Middlesbrough                                             4690.0


Unnamed: 3              Aged 19 years and over further education and skills participation
code      Unnamed: 1
E06000001 Hartlepool                                                8888.0                 \
E06000002 Middlesbrough                                             9470.0


Unnamed: 3              Anxiety Apprenticeships achievements
code      Unnamed: 1
E06000001 Hartlepool       3.30                        456.0  \
E06000002 Middlesbrough    3.02                        446.0


Unnamed: 3              Apprenticeships starts
code      Unnamed: 1
E06000001 Hartlepool                    1280.0  \
E06000002 Middlesbrough                 1136.0

                                                           ...
Unnamed: 3              Cancer diagnosis at stage 1 and 2  ...
code      Unnamed: 1                                       ...
E06000001 Hartlepool                             48.21853  ...  \
E06000002 Middlesbrough                          55.17891  ...


Unnamed: 3              Male healthy life expectancy
code      Unnamed: 1
E06000001 Hartlepool                           57.58  \
E06000002 Middlesbrough                        58.83


Unnamed: 3              Overweight adults (aged 18 years and over)
code      Unnamed: 1
E06000001 Hartlepool                                     74.576608  \
E06000002 Middlesbrough                                  70.764041


Unnamed: 3              Overweight children at Year 6 age (aged 10 to 11 years)
code      Unnamed: 1
E06000001 Hartlepool                                              43.18182       \
E06000002 Middlesbrough                                           44.89796


Unnamed: 3              Overweight children at reception age (aged four to five years)
code      Unnamed: 1
E06000001 Hartlepool                                              27.74869              \
E06000002 Middlesbrough                                           26.95418


Unnamed: 3              Persistent absences for all pupils
code      Unnamed: 1
E06000001 Hartlepool                              16.33809  \
E06000002 Middlesbrough                           16.67140


Unnamed: 3              Persistent absences for pupils eligible for free school meals
code      Unnamed: 1
E06000001 Hartlepool                                              26.52582             \
E06000002 Middlesbrough                                           23.86576


Unnamed: 3              Persistent absences for pupils looked after by local authorities
code      Unnamed: 1
E06000001 Hartlepool                                                  30.6                \
E06000002 Middlesbrough                                               30.2


Unnamed: 3              Public transport or walk to employment centre with 500 to 4999 jobs
code      Unnamed: 1
E06000001 Hartlepool                                             12.900208                   \
E06000002 Middlesbrough                                          15.372879


Unnamed: 3              Pupils at expected standards by end of primary school
code      Unnamed: 1
E06000001 Hartlepool                                                  63.0     \
E06000002 Middlesbrough                                               58.0


Unnamed: 3              Schools and nursery schools rated good or outstanding
code      Unnamed: 1
E06000001 Hartlepool                                             89.473684
E06000002 Middlesbrough                                          90.909091

[2 rows x 36 columns]

In [63]:
combined_T_filled.to_csv('data/combined_T_filled.csv')

In [68]:
print(combined_T_filled.iloc[:,0].max())
print(combined_T_filled.iloc[:,0].min())

73.95
23.13

 # Now apply sk learn
 first scale
 then look at which features predict the target

In [103]:
import sklearn
from sklearn.model_selection import train_test_split

In [104]:
#split data first before anything
X = combined_T_filled.iloc[:,1:].values.tolist()
y = combined_T_filled.iloc[:,0].values.tolist()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [113]:
from sklearn.preprocessing import MinMaxScaler, QuantileTransformer
from sklearn.pipeline import Pipeline
# create a pipeline 
scaler = MinMaxScaler()
trans = QuantileTransformer(n_quantiles=100, output_distribution ='normal') # regularise + reduce impact of outliers
model = sklearn.linear_model.LinearRegression()

pipe = Pipeline(steps = [('scaler', scaler), ('transformation',trans), ('model', model)])

In [116]:
model = pipe.fit(X_train,y_train)

print('train:',model.score(X_train,y_train))
print('test:',model.score(X_test,y_test))

train: 0.4790891664321997
test: 0.2583898800135841

 # Try coefficient values

In [158]:
#extract column names
names_multi = combined_T_filled.columns[1:]
names = []
for I in range(len(names_multi)):
    names.append(names_multi[I][1])
names[0:2]

['4G coverage', 'Additions to the housing stock']

In [159]:
#extract coefficients
coeff = model['model'].coef_

In [169]:
dict_c = {'col' :names, 'coeff_mod': abs(coeff), 'coeff': coeff}

df_c = pd.DataFrame(dict_c).sort_values('coeff_mod',ascending=False)
df_c

                                                  col  coeff_mod     coeff
15   Drive to employment centre with 500 to 4999 jobs   2.278431  2.278431
12  Children at expected level for maths by end of...   2.064432  2.064432
21         Gross disposable household income per head   1.969537  1.969537
14   Cycle to employment centre with 500 to 4999 jobs   1.842901 -1.842901
32  Public transport or walk to employment centre ...   1.613506 -1.613506
1                      Additions to the housing stock   1.395271  1.395271
17                         Feeling life is worthwhile   1.107727 -1.107727
22                            Gross median weekly pay   1.066556  1.066556
18                     Female healthy life expectancy   0.884229 -0.884229
20                          Gigabit capable broadband   0.879385  0.879385
24                                  Life satisfaction   0.678779  0.678779
31  Persistent absences for pupils looked after by...   0.625822 -0.625822
9   Cardiovascular mortality considered preventabl...   0.609574 -0.609574
4   Aged 19 years and over further education and s...   0.600173  0.600173
2   Aged 16 to 64 years level 3 or above qualifica...   0.560029 -0.560029
34  Schools and nursery schools rated good or outs...   0.527433  0.527433
25                       Male healthy life expectancy   0.526888  0.526888
19  GCSEs (and equivalent) in English and maths by...   0.424799  0.424799
0                                         4G coverage   0.420833  0.420833
13                                  Cigarette smokers   0.415326  0.415326
11  Children at expected level for literacy by end...   0.414385 -0.414385
3   Aged 19 years and over further education and s...   0.296617 -0.296617
26         Overweight adults (aged 18 years and over)   0.285460 -0.285460
16             Employment rate for 16 to 64 year olds   0.284186 -0.284186
10  Children at expected level for communication a...   0.256429 -0.256429
30  Persistent absences for pupils eligible for fr...   0.156987  0.156987
23                                          Happiness   0.135223  0.135223
33  Pupils at expected standards by end of primary...   0.129311 -0.129311
29                 Persistent absences for all pupils   0.128357  0.128357
28  Overweight children at reception age (aged fou...   0.088629  0.088629
6                        Apprenticeships achievements   0.071363  0.071363
5                                             Anxiety   0.049659 -0.049659
7                              Apprenticeships starts   0.046255  0.046255
27  Overweight children at Year 6 age (aged 10 to ...   0.027133  0.027133
8                   Cancer diagnosis at stage 1 and 2   0.012658  0.012658